<h1>Log in</h1>
<%= form_tag sessions_path do %>
  <div class="field">
     <%= label_tag :email %>
     <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
     <%= label_tag :password %>
     <%= password_field_tag :email, params[:email] %>
  </div>
<div class="actions"> <%= submit_tag "Log in" %> </div>
<% end %>
