<h1> Sign up </h1>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Invalid Form</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end%>
  <div>
    <%= f.label "Email", :class => "col-sm-3 control-label" %><br>
    <%= f.text_field :email, :class => "form-control" %><br>
  </div>
  <div>
    <%= f.label "Password", :class => "col-sm-3 control-label" %><br>
    <%= f.password_field :password, :class => "form-control" %><br>
  </div>
  <div>
    <%= f.label "Password Confirmation", :class => "col-sm-3 control-label" %><br>
    <%= f.password_field :password_confirmation, :class => "form-control" %><br>
  </div>

  <br>
  <div class="actions"><%= f.submit "Save", class: "btn btn-primary block m-b" %></div>
<% end %>
