<div class="well">
  <div class="row">
    <div class="col-xs-6">
      <h4></small>Name:  <%= product.name %></small></h4>
      <h4></small>Brand: <%= product.brand %></small></h4>
      <h4></small>Model: <%= product.model %></small></h4>
    </div>
    <% if current_user %>
    <div class="col-xs-4">
      <%= form_for order_item, remote: true do |f| %>
      <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency product.price %></span></h4>
        <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          <div class="input-group-btn">
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.submit "Add to Cart", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>

    <% end %>
  
  </div>
</div>
