<div class="text-right">
  <h1><small>
    <% if current_user %>
       Logged in as <%= current_user.email %>.
       <%= link_to "Log out", logout_path %>
    <% else %>
       <%= link_to "Sign up", signup_path %> or
      <%= link_to "Log in", login_path %>
    <% end %>
  </small></h1>
</div>
<h3 class="text-center">Products for Sale</h3>
<div class="row">
  <div class="col-lg-12">
    <% @products.each do |product| %>
      <%= render "product_row", product: product, order_item: @order_item %>
    <% end %>
  </div>
</div>
